# Ignore local .env files
.env
.env.*

# Ignore vendor and node_modules
vendor
node_modules

# Ignore logs and caches
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Ignore build artifacts
.git
.gitignore
Dockerfile
docker-compose.yml
nginx/
prometheus/